
.header {
  padding: 15px 0px;
  .logo {
    width: 192px;
    @media (min-width: 769px) and (max-width: 992px) {
      width: 118px;
    }
  }
  .navbar-nav {
    margin: 0 auto;
    @media (max-width: 768px) {
      padding: 0px 0px 15px 0px;
    }
    .nav-item {
      margin: 0px 16px;
      @media (min-width: 769px) and (max-width: 992px) {
        margin: 0px 12px;
      }
      .nav-link {
        text-transform: capitalize;
        font-weight: 500;
        color: #0F2137;
        font-size: 16px;
        @media (min-width: 769px) and (max-width: 992px) {
          font-size: 13px;
          padding: 0;
        }
      }
    }
  }
  .primary-btn {
    @media (min-width: 769px) and (max-width: 992px) {
      padding: 9px 16px;
      font-size: 12px;
    }
    @media (max-width: 768px) {
      margin-left: 19px;
    }
  }
  #navbarMobile {
    @media (max-width: 768px) {
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #fff;
      width: 100%;
      z-index: 9999;
      padding: 0px 0px 20px 0px;
    }
  }
  .navbar-toggler:focus {
    box-shadow: unset;
  }
}